# Domain
DOMAIN_NAME=user.42.fr

# Database configuration
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser

# WordPress Admin User
WP_ADMIN_USER=boss
WP_ADMIN_EMAIL=boss@42.com

# WordPress Regular User
WP_USER=user
WP_USER_EMAIL=user@42.com

# FTP Configuration
FTP_USER=ftpuser

#data_path
DATA_PATH=${HOME}/data
